*{
    margin:0px;
    padding:0px;
    font-family: 'Calibri'
}

.container{
    box-sizing: border-box;
    min-width: 800px;
    min-height: 100vh;
    padding: 100px;
    display: flex;
}

h1{
    color: #007B83;
    font-size: 30px;
}

.choose{
    border-right: none;
}

.card{
    width:100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: 5px solid#007B83;
    display: flex;
    /* gap: 10px; */
}

.section1{
    margin-top: 0%;
    box-sizing: border-box;
    max-width: 300px;
    max-height: 20px;
    gap: 0;
}
.card div{
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
    margin: 30px;
    line-height: 2.5rem;
    
}

.result{
    width: 100%;
    padding: 20px;
    background-color:  #007B83;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 20px;
    font-weight: bold;
    color:  #007B83;
}

#tempType{
    width: 10%;
}

select{
    width: 45%;
}

button{
    border-radius: 30px;
    width: 30%;
    height: 100%;
    padding: 20px;
    background-color:#007B83;
    color: white;
    border-style: none;
    font-size: 16px;
}

#res{
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.result span{
    font-size: 40px;
    font-weight: bold;
    color: white;
    vertical-align: super;
}

.card #tempType{
    gap: none;
}


#convertType{
    height: 30px;
}


#input{
    border-right: none;
    width: 30%;
    height: 30px;
    padding: 10px;
    font-size: 20px;
}

#input::placeholder{
    text-align: left;
    padding:10px
}

.temp{
    display: flex;
    gap: none;
}

